* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 15px;
    /* Chiều rộng vùng chứa scrollbar */
}

body::-webkit-scrollbar-track {
    background: #ccc;
    /* Màu nền ngoài của thanh scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    /* Màu của thanh cuộn (scroll thumb) */
    border-radius: 5px;
    /* Bo góc scroll thumb */
    border: 2px solid #ccc;
    /* Không hỗ trợ padding, margin, transition nên dùng viền cùng màu nên để padding scroll thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #02020273;
    /* Hiệu ứng di chuột đổi màu*/
}
#header {
    z-index: 1;
    background-color: rgba(12, 12, 12);
    position: fixed;
    width: 100%;
}

.header1 {

    max-width: 960px;
    margin: 0px auto;
    display: flex;
}

#logo {
    padding: 5px 0px;
}

#logo img {
    position: absolute;
    max-width: 50px;
    height: auto;
    display: block;
    left: 70px;
}

#menu {
    z-index: 1;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#menu li {
    font-weight: bold;
    display: block;
    padding: 0 15px;
}

#menu li a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 18px 20px;
    display: block;
}

.search {
    position: absolute;
    right: 120px;
    top: 17px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 16px;
}

.icon {
    position: absolute;
    right: 10px;
    top: 18px;
}

.icon a {
    text-decoration: none;
    color: rgb(253, 253, 253);
}

.icon1:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    ;
}

.icon2:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    ;
}

.icon3:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}

#dropmenu {
    background-color: rgb(12, 12, 12);
    display: none;
    position: absolute;

}

li a:hover {
    background-color: rgb(12, 12, 12);
    border-bottom: 3px solid rgb(255, 255, 255);
}

.menuson:hover #dropmenu {
    display: block;
}

.toggle {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    text-align: right;
    display: none;
}

@media screen and (max-width:768px) {
    #menu {
        flex-direction: column;
        text-align: center;
    }

    .toggle {
        display: block;
    }

    .icon {
        margin: -5px 15px 0px 0px;
    }

    .search {
        margin: -5px 10px 0px 0px;
    }

    .header1 {
        display: none;
    }
}

.slider {
    display: block;
    padding: 50px 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slider_img {
    display: flex;

}

.slider_img img {
    transition: all 0.5s linear;
    width: 100%;
}

.slider_img input {
    display: none;
}

.lableslider {
    display: flex;
    justify-content: center;
}

.lableslider label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 2px;


}

.lableslider label:hover {
    background-color: rgb(34, 34, 34);
}

#img1:checked~.imgslider1 {
    margin-left: -100%;
}

#img2:checked~.imgslider2 {
    margin-right: -200%;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    line-height: 60px;
    color: rgb(17, 17, 17);
    margin: 0px auto 80px;
}

.title::after {
    content: "";
    width: 80px;
    height: 5px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    background: rgb(17, 17, 17);
    border-radius: 5px;
}

#product {
    justify-content: center;
    display: flex;
    position: relative;
}

#product2 {
    justify-content: center;
    display: flex;
    position: relative;
    padding: 100px 1px;

}

.sp1 {
    margin-left: 10px;
    width: 30%;

}

.sp1 a {
    text-decoration: none;
}

.sp1 img {
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.sp1 img:hover {
    transform: scale(0.9);
    opacity: 0.8;
}

.sp2 {
    margin-left: 10px;
    width: 30%;
    height: 100%;
}

.sp2 a {
    text-decoration: none;
}

.sp2 img {
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.3s ease-in-out;
    overflow: hidden;


}

.sp2 img:hover {
    transform: scale(0.9);
    opacity: 0.8;
}

.titleAo {
    display: block;
    padding: 10px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.price {
    text-align: center;
}

#footer {
    text-transform: capitalize;
    line-height: 30px;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.GT {
    display: block;
    padding: 20px 25px;
}

.GT h2 {
    display: block;
    padding: 20px 0px;
}

.CS {
    display: block;
    padding: 20px 25px;
}

.CS a {
    text-decoration: none;
    color: whitesmoke;
}

.CS a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}

.CS h2 {
    display: block;
    padding: 20px 0px;
}

.LH {
    display: block;
    padding: 20px 25px;
}

.LH h2 {
    display: block;
    padding: 20px 0px;
}

.CĐ {
    display: block;
    padding: 20px 25px;
}

.CĐ a {
    text-decoration: none;
    color: whitesmoke;
}

.CĐ a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}

.CĐ h2 {
    display: block;
    padding: 20px 0px;
}